//original styles

html, body, div#root{
  margin: 0;
  min-height:100vh;
}

body{
  background-color: rgb(255,145,77);
  nav.navbar{
    background-color: inherit;
    .navbar-menu{
      background-color: #ffde59;
      position: absolute;
      right: 0;
      .buttons{
        justify-content: flex-end;
      }
    }
  }
}

main{
  min-height: calc(100vh - 52px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .headline{
    color: white;
    position: relative;
    text-shadow: 4px 4px 3px #444;


    h1{
      font-family: serif, cursive;
      font-weight: bold;
      font-size: 5rem;
      letter-spacing: -5px;
    }
    .drip-1{
      font-size: 0.7rem;
      position: absolute;
      top: 130px;
      right: 20px;
    }
    .drip-2{
      font-size: 1.2rem;
      position: absolute;
      top: 110px;
      right: 30px;
    }
    .cloud-headline{
      font-size: 3rem;
      position: absolute;
      top: -5px;
      left: 58px;
    }
    .subtitle{
      color: rgb(82,113,255);
      font-family: serif, cursive;
      font-size: 1rem;
      font-weight: bold;
      position: absolute;
      top: 90px;
      left: 32px;
      text-shadow: none;
    }
  }


  .initial, section{
    //initial styles
    width: calc(100% - 200px);
    margin: 40px 100px;
    box-shadow: 10px 5px 5px #ffde59;
  }

  .initial{
    font-family: 'Bungee Inline', serif;
    .underground{
      width: 45px;
      padding-left: 10px;
    }
    .bike{
      width: 45px;
      padding-left: 10px;
    }
    .wear{
      width: 75px;
      padding-left: 10px;
    }
  }


  section{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 10px 5px 5px #ffde59;

    .title{
      color: white;

    }

    &.register{
      //loading styles
      background-color: #23d160;
      border-radius: 6px;
    }
    &.loading{
      //loading styles
      background-color: #23d160;
      border-radius: 6px;
    }
    &.complete{
      //complete styles (api processed succesfully)
      background-color: #23d160;
      border-radius: 6px;
    }

    a.navbar-burger{
      position: absolute;
      top: 0;
      right: 0;
    }

  }
}

section.register{

  select{
    width: 214px;
  }
  form{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
}

section.what-to-wear{
  div.card-content.card-body-armour p{
    padding: 3px 0;
  }
}

section.travel-status{
  color: black;

  //the first div
  article:first-child{
    border-radius: 10px 10px 0 0;
  }

  //all the divs, including the first
  article{
    position: relative;
    padding: 0 15px;
    width: 100%;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #ddd;
    background-color: white;
    overflow: hidden;

    h2{
      margin: 0;
      font-size: 1em;
      padding-top: 8px;
    }

    p{
      font-size: 0.8em;
      margin: 0;
      padding-bottom: 5px;
    }

    small{
      transition: all 0.1s;
      display: block;
      padding-top: 5px;
      padding-bottom: 15px;
      height: 0;
      padding: 0;
    }

    &.other-status{
      background-color: lightyellow;
      padding-right: 50px;
    }

    &::after{
      content: '+';
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 60px;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    &.active::after{
        content: '-';
    }

    //these options switch between toggling all, or just the 'other-status' classed items
    //&.other-status small:last-child{
    &.active small:last-child{
      height: inherit;
      padding-bottom: 10px;
    }

    &#bakerloo { background-color: brown; }

  }

}




@media screen and (min-width: 1024px){
  .navbar-burger.close {
    display: block;
  }
}
