// new styles  

html, body, div#root{
  margin: 0;
  min-height:100vh;
}

body{
  background-color: #ff673a;
  nav.navbar{
    background-color: inherit;
    .navbar-menu{
      background-color: #ff673a;
      position: absolute;
      right: 0;
      .buttons{
        justify-content: flex-end;
      }
    }
  }
}

main{
  min-height: calc(100vh - 52px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  header{
    color: white;
    position: relative;
    text-shadow: 0px 0px 5px white;

    .title{
      padding-top: 15px;
      color: white;
      font-family: serif, cursive;
      font-weight: bold;
      font-size: 5rem;
      letter-spacing: -5px;
    }
    .drip{
      font-size: 1.2rem;
      position: absolute;
      top: 25px;
      right: 39px;
    }
    .cloud{
      font-size: 3rem;
      position: absolute;
      top: -5px;
      left: 58px;
    }
    .subtitle{
      color: white;
      letter-spacing: -1px;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 1.1rem;
      position: absolute;
      top: 86px;
      left: 28px;
    }
  }


  .initial, section{
    //initial styles
    width: calc(100% - 10vw);
    min-height: 120px;
    margin: 2vh 2vw;
    box-shadow: 0px 0px 15px white;
  }

  .initial{
    font-family: sans-serif;
    letter-spacing: -2px;
    color: #ff673a;
    .underground{
      width: 45px;
      padding-left: 10px;
    }
    .bike{
      width: 45px;
      padding-left: 10px;
    }
    .wear{
      width: 75px;
      padding-left: 10px;
    }
  }


  section{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 6px;
    background-color: white;


    a.navbar-burger{
      position: absolute;
      top: 0;
      right: 0;
    }

  }
}

section.what-to-wear{
  div.card-content.card-body-armour p{
    padding: 3px 0;
  }
}

section.travel-status{
  color: black;

  //the first div
  article:first-child{
    border-radius: 10px 10px 0 0;
  }

  //all the divs, including the first
  article{
    position: relative;
    padding: 0 15px;
    width: 100%;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #ddd;
    background-color: white;
    overflow: hidden;

    h2{
      margin: 0;
      font-size: 1em;
      padding-top: 8px;
      color: #ff673a;
    }

    p{
      font-size: 0.8em;
      margin: 0;
      padding-bottom: 5px;
    }

    small{
      transition: all 0.1s;
      display: block;
      padding-top: 5px;
      padding-bottom: 15px;
      height: 0;
      padding: 0;
    }

    &.other-status{
      background-color: lightyellow;
      padding-right: 50px;
    }

    &::after{
      content: '+';
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 60px;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    &.active::after{
        content: '-';
    }

    //these options switch between toggling all, or just the 'other-status' classed items
    //&.other-status small:last-child{
    &.active small:last-child{
      height: inherit;
      padding-bottom: 10px;
    }

    &#bakerloo { background-color: brown; }

  }

}
