// new styles  

html, body, div#root{
  margin: 0;
  min-height:100vh;
}

body{
  background-color: #ff673a;
}

nav.navbar{
  background-color: inherit;
  .navbar-menu{
    background-color: inherit;
    position: absolute;
    right: 0;
    .buttons{
      justify-content: flex-end;
    }
  }
}

main{
  min-height: calc(100vh - 52px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  header{
    color: white;
    position: relative;
    text-shadow: 0px 0px 5px white;

    .title{
      padding-top: 15px;
      color: white;
      font-family: 'Hepta Slab', serif;
      font-weight: bold;
      font-size: 4rem;
      letter-spacing: -5px;
    }
    .drip{
      font-size: 1.2rem;
      position: absolute;
      top: 16px;
      right: 42px;
    }
    .cloud{
      font-size: 3rem;
      position: absolute;
      top: -12px;
      left: 52px;
    }
    .subtitle{
      color: white;
      letter-spacing: -1px;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 1rem;
      position: absolute;
      top: 76px;
      left: 31px;
    }
  }
}

h1.title{
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px white;
}

.initial, section{
  //initial styles
  width: calc(100% - 10vw);
  min-height: 120px;
  margin: 2vh 2vw;
  box-shadow: 0px 0px 15px white;
}

.initial{
  font-family: 'Hepta Slab', serif;
  letter-spacing: -2px;
  color: #ff673a;
  transition: 0.5s color;
}
.initial:hover{
  border-color: white;
}

section.section{
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3.5rem;
  color: black;
  border-radius: 6px;
  background-color: white;
  .navbar-burger {
    position: absolute;
    top: 0;
    right: 0;
  }
}


section.what-to-wear{
  div.card-content.card-body-armour p{
    padding: 3px 0;
  }
}

section.travel-status{
  color: black;

  //all the divs, including the first
  article{
    position: relative;
    padding: 0 15px;
    width: 100%;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #ddd;
    background-color: white;
    overflow: hidden;

    h3{
      margin: 0;
      font-size: 1em;
      padding-top: 8px;
    }

    p{
      font-size: 0.8em;
      margin: 0;
      padding-bottom: 5px;
    }

    small{
      transition: all 0.1s;
      display: block;
      padding-top: 5px;
      padding-bottom: 15px;
      height: 0;
      padding: 0;
    }

    &.other-status{
      background-color: lightyellow;
      padding-right: 50px;
    }

    &::after{
      content: '+';
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 60px;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    &.active::after{
        content: '-';
    }

    //these options switch between toggling all, or just the 'other-status' classed items
    //&.other-status small:last-child{
    &.active small:last-child{
      height: inherit;
      padding-bottom: 10px;
    }

  }

  article:last-child{
    border-bottom-width: 1px;
  }

}


@media screen and (min-width: 1024px){
  section .navbar-burger {
      display: block;
  }
}